.main{
    padding: 20px;

}

.sidebar{
    background-color: #005555;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    height: 100vh;
}

.header{
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    margin-bottom: 20px;
    height: 15vh;
}
.body{
    background-color: white;
     border-radius: 5px;
    box-shadow:  0 0 2px gray;
    height: 85vh;
}